h1{
    text-align: center;
}
#outer{
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: space-evenly;
}


#left, #right{
    margin-top: 30px;
    height: 80%;
    width: 45%;
    border: 1px solid lightblue;
    border-radius: 20px;
    background-color: aliceblue;
}

#left{
    display: flex;
    align-items: center;
}

#task-form{
    width: 80%;
   
}