*{
    margin: 0px;
    padding: 0px;
}




#navbar{
    background-color: black;
    display:  flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    position: fixed;
    top: 0px;
    width: 100vw;
    z-index: 89076;
}

#navbar h3{
    color:  white;
    margin-left: 20px;
}

#navbar a{
    text-decoration: none;
    color : white;
    margin-right: 20px;
}

#footer{
    background-color: black;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer p{
    color : white;
}